.wrapper {
  height: 100%;
  min-height: 100%;
  background-color: #666666;
}
.black-background{
  background-color:#000000;
  color: white;
  padding: 5px;
  margin: 0;
  padding: 0;
}
.score-box{
  background-color: white;
  height: 75px;
  color: black;
  max-width: 100%;
}
.call-container{
  border: 2px solid #333333;
  background-color: #999999;
  border-radius: 4px;
  height: auto;
  min-height: 250px;
}
.call-button-container{
  height: 102px;
}
.dispatch-button{
  display: inline-block;
  padding-left: 10px;
}
.timer{
  height: 100px;
  font-weight: bold;
  color: black;
  text-align: right;
}
.timer-label{
  font-size: 1em;
}
.timer-numbers{
  font-size: 4em;
}
.points{
  font-style: italic;
  font-size: .75em;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.65);
  z-index: 999;
}
.popup-inner {
  position: absolute;
  padding: 20px;
  left: 50%;
  right: 10%;
  top: 35%;
  bottom: 45%;
  margin: auto;
  background: white;
  border-radius: 5px;
  z-index: 1500;
}

.red{
  color: red;
}
.green{
  color: green;
}
.yellow{
  color: yellow;
}
.orange{
  color: orange;
}

input[type=text]{
  font-size: 2em;
}

.disabled {
  background-color : rgb(246,246,246);
  color: rgb(168,168,168);
}

.level-dropdown {
  font-size: 2em;
}

.game-background {
  background-color: #666666;
  height: 100%;
}


.input-holder {
  padding: 0px;
}

.page-holder {
  padding-top: 15px;
  text-align: center;
}

.call-button {
  padding: 10px;
  width: auto;
  font-size: 2em;
  border: 2px solid black;
  background-color: rgb(30,104,189);
}

.disabled-button {
  color: #999999;
  background-color: rgb(246,246,246);
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
